{% if page.author_profile or layout.author_profile or page.sidebar %}
<div class="sidebar">
    {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
    {% if page.sidebar %}
        {% if page.sidebar.image %}
            <img src="{{ page.sidebar.image | relative_url }}"
            alt="{% if page.sidebar.image_alt %}{{ s.image_alt }}{% endif %}" loading="lazy">
        {% endif %}
        {%- if page.sidebar.team -%}<b>Team</b>: {{page.sidebar.team}} <br>{%- endif -%}
        {%- if page.sidebar.tools -%}<b>Tools</b>: {{page.sidebar.tools }} <br>{%- endif -%}
        {%- if page.sidebar.duration -%}<b>Duration</b>: {{page.sidebar.duration}} <br> {%- endif -%}
        {%- if page.sidebar.platforms -%}<b>Platforms</b>: {{page.sidebar.platforms}} <br> {%- endif -%}
        <br>
        {% if page.sidebar.text %}{{ page.sidebar.text | markdownify }}{% endif %}
        {%- if page.sidebar.links -%}
            <div class="ftr-links sidebar-links">
                {% for footer_link in page.sidebar.links %}
                    {%- if footer_link.url contains "://" -%}
                        {%- assign url = footer_link.url -%}
                    {%- else -%}
                        {%- assign url = footer_link.url | relative_url -%}
                    {%- endif -%}
                    <a href="{{ url }}"><i class="{{ footer_link.icon | default: 'fas fa-link' }} fa-2x" title="{{ footer_link.title }}"></i></a>
                {% endfor %}
            </div>
        {%- endif -%}
    {% endif %}
</div>
{% endif %}
