---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "so-simple"; // main partials

details {
    margin-left: 1em;
}

summary {
  background: #000;
  padding: .5rem 1rem;
  cursor: pointer;
  margin-left: -1em;
  color: #FFF;
}

summary > * {
  display: inline-block;
}

details[open] > summary {
    margin-bottom: 2em;
}

details[open] {
    margin-bottom: 2em;
}

details > div {
  border: 2px solid #000;
  margin-top: 0;
  padding: 1rem;
}

pre, code {
    font-size: 12px;
}

.sidebar > img {
  margin-bottom: 2em;
}

.sidebar > .social-icons {
    text-align: center;
    margin-bottom: 1em;
}

.sidebar {
    text-align: left;
}

.showcase table {
    margin-bottom: 0;
}

.showcase td {
    padding: 0.125em;
    border-bottom: 0;
    vertical-align: bottom;
}

$border-radius: 4px !default;
$global-transition: all 0.2s ease-in-out !default;

figure {
    display: -webkit-box !important;
    display: flex !important;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0;

    img,
    iframe,
    .fluid-width-video-wrapper {
        margin-bottom: .125em;
    }

    img {
        width: 100%;
        // border-radius: $border-radius;
        -webkit-transition: $global-transition;
        transition: $global-transition;
    }

    > a {
        display: block;
        width: 100%;
    }

    &.half {
        > a,
        > img {
            width: calc(50% - 0.125em);
        }

        figcaption {
            width: 100%;
        }
    }

    &.third {
        > a,
        > img {
            width: calc(33.3333% - 0.125em);
        }

        figcaption {
            width: 100%;
        }
    }
}

/* Figure captions */

figcaption {
  margin-bottom: 0.5em;

  a {
    -webkit-transition: $global-transition;
    transition: $global-transition;
  }
}
